@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

:root {
  --toast-dark: #78fad1;
  --toast-light: #ffffff;
  --toast-success: #0abf30;
  --toast-error: #e24d4c;
  --toast-warning: #e9bd0c;
  --toast-info: #3498db;
  --toast-random: #eb43ff;
}

body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background-color: gray;
  overflow: hidden;
  font-family: "Nunito", sans-serif;
}

button {
  height: 70px;
  width: 400px;
  font-size: 2em;
}

h1 {
  text-align: center;
  color: white;
  font-size: 7rem; 
  flex-basis: 100%;
}

.page {
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.button-container {
  display: flex;
  justify-content: space-between;
  width: 80vw;
  margin: 5vh auto;
}

#home-page-button-container {
  justify-content: center;
}

#home-page-size-input {
  height: fit-content;
  font-size: 2rem;
  width: 20vw;
  padding: 10px;
}

#video-cam {
  margin-top: 50px;
  width: 80vw;
  height: 60vh;
}

#color-picker-container {
  position: relative;
  height: fit-content;
  display: flex;
  justify-content: center;
  margin: 5vh auto;
  width: 100%;
}

.color-picker {
  height: 2.5vw;
  width: 2.5vw;
  margin: 0.5vw;
  border: 6px solid black;
}

.color-picker.selected {
  height: 3vw;
  width: 3vw;
}

.color-picker:hover, .cube-square:hover {
  opacity: 0.7;
}

.cube-square {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  position: absolute;
  aspect-ratio: 1 / 1;
  border: 3px solid black;
}

#cube-edit-container {
  aspect-ratio: 4 / 3;
  position: relative;
  height: calc(0.6 * min(3 / 4 * 100vw, 100vh));
}

#solution-step-description {
  text-align: center;
  width: 100%;
  font-size: 2rem;
  color: white;
}

/* 
* SECTION FOR TOAST 
* https://dev.to/arafat4693/how-to-create-a-toast-notification-in-javascript-261d
*/
.notifications {
  position: fixed;
  top: 30px;
  right: 20px;
}
.notifications :where(.toast, .column) {
  display: flex;
  align-items: center;
}
.notifications .toast {
  width: 20vw;
  position: relative;
  overflow: hidden;
  list-style: none;
  border-radius: 4px;
  padding: 16px 17px;
  margin-bottom: 10px;
  background: var(--toast-light);
  justify-content: space-between;
  animation: show_toast 0.3s ease forwards;
}
@keyframes show_toast {
  0% {
    transform: translateX(100%);
  }
  40% {
    transform: translateX(-5%);
  }
  80% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-10px);
  }
}
.notifications .toast.hide {
  animation: hide_toast 0.3s ease forwards;
}
@keyframes hide_toast {
  0% {
    transform: translateX(-10px);
  }
  40% {
    transform: translateX(0%);
  }
  80% {
    transform: translateX(-5%);
  }
  100% {
    transform: translateX(calc(100% + 20px));
  }
}
.toast::before {
  position: absolute;
  content: "";
  height: 5px;
  width: 100%;
  bottom: 0px;
  left: 0px;
  animation: progress 5s linear forwards;
}
@keyframes progress {
  100% {
    width: 0%;
  }
}
.toast.success::before {
  background: var(--toast-success);
}
.toast.error::before {
  background: var(--toast-error);
}
.toast.warning::before {
  background: var(--toast-warning);
}
.toast.info::before {
  background: var(--toast-info);
}
.toast.random::before {
  background: var(--toast-random);
}
.toast .column i {
  font-size: 4rem;
}
.toast.success .column i {
  color: var(--toast-success);
}
.toast.error .column i {
  color: var(--toast-error);
}
.toast.warning .column i {
  color: var(--toast-warning);
}
.toast.info .column i {
  color: var(--toast-info);
}
.toast.random .column i {
  color: var(--toast-random);
}
.toast .column span {
  font-size: 2rem;
  margin-left: 24px;
}
.toast i:last-child {
  color: #aeb0d7;
  font-size: 2rem;
  margin-left: 24px;
  cursor: pointer;
}
.toast i:last-child:hover {
  color: var(--toast-dark);
}
@media screen and (max-width: 530px) {
  .notifications {
    width: 95%;
  }
  .notifications .toast {
    width: 100%;
    font-size: 2rem;
    margin-left: 40px;
  }
}
